epam/XML/XML/epam-projects10/src/Task1_2_resources/voucher.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="touristVouchers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="touristVoucher" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:float" name="cost"/>
              <xs:element type="xs:string" name="country"/>
              <xs:element name="hotelCharacteristics">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="bedCount"/>
                    <xs:element type="xs:boolean" name="conditionerPresent"/>
                     <xs:element name="foodType">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="HB"/>
                            <xs:enumeration value="BB"/>
                            <xs:enumeration value="AL"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="stars">
                        <xs:simpleType>
                          <xs:restriction base="xs:integer">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="5"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                    <xs:element type="xs:boolean" name="TVPresent"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="numberDays"/>
              <xs:element type="xs:byte" name="numberNights"/>
               <xs:element name="transport">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="CAR"/>
                        <xs:enumeration value="BOAT"/>
                        <xs:enumeration value="BUS"/>
                        <xs:enumeration value="TRAIN"/>
                        <xs:enumeration value="PLANE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
              <xs:element name="voucherType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="WEEKENDTRIP"/>
                        <xs:enumeration value="EXCURSION"/>
                        <xs:enumeration value="REST"/>
                        <xs:enumeration value="PILGRIMAGE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
